<a href="https://colab.research.google.com/github/hanarayan/DF_PRACTICE/blob/main/Data_Frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

from tabulate import tabulate

# Replace 'County_Health_Rankings.csv' with the actual file path if needed.
df = pd.read_csv('County_Health_Rankings.csv')

print(tabulate(df.head(), headers='keys', tablefmt='grid'))

df.head().style.set_properties(**{'border': '1px solid black', 'padding': '10px'})

+----+---------+---------------+--------------+---------------+-------------+--------------------+--------------+-------------+---------------+-------------+-----------------------------------+-----------------------------------+---------------------+------------+
|    | State   | County        |   State code |   County code | Year span   | Measure name       |   Measure id |   Numerator |   Denominator |   Raw value |   Confidence Interval Lower Bound |   Confidence Interval Upper Bound |   Data Release Year |   fipscode |
+====+=========+===============+==============+===============+=============+====================+==============+=============+===============+=============+===================================+===================================+=====================+============+
|  0 | US      | United States |            0 |             0 | 2003-2005   | Violent crime rate |           43 | 1.32875e+06 |   2.74877e+08 |     483.398 |                               nan |                               nan |                 nan |          0 |
+----+---------+---------------+--------------+---------------+-------------+--------------------+--------------+-------------+---------------+-------------+-----------------------------------+-----------------------------------+---------------------+------------+
|  1 | US      | United States |            0 |             0 | 2004-2006   | Violent crime rate |           43 | 1.34093e+06 |   2.77613e+08 |     483.021 |                               nan |                               nan |                 nan |          0 |
+----+---------+---------------+--------------+---------------+-------------+--------------------+--------------+-------------+---------------+-------------+-----------------------------------+-----------------------------------+---------------------+------------+
|  2 | US      | United States |            0 |             0 | 2005-2007   | Violent crime rate |           43 | 1.35585e+06 |   2.80408e+08 |     483.529 |                               nan |                               nan |                2010 |          0 |
+----+---------+---------------+--------------+---------------+-------------+--------------------+--------------+-------------+---------------+-------------+-----------------------------------+-----------------------------------+---------------------+------------+
|  3 | US      | United States |            0 |             0 | 2006-2008   | Violent crime rate |           43 | 1.36693e+06 |   2.87615e+08 |     475.264 |                               nan |                               nan |                2011 |          0 |
+----+---------+---------------+--------------+---------------+-------------+--------------------+--------------+-------------+---------------+-------------+-----------------------------------+-----------------------------------+---------------------+------------+
|  4 | US      | United States |            0 |             0 | 2007-2009   | Violent crime rate |           43 | 1.33944e+06 |   2.92576e+08 |     457.809 |                               nan |                               nan |                2012 |          0 |
+----+---------+---------------+--------------+---------------+-------------+--------------------+--------------+-------------+---------------+-------------+-----------------------------------+-----------------------------------+---------------------+------------+